In [ ]:
print('olá mundo')

olá mundo

In [ ]:
nome = 'Hosana'
idade = 17
altura = 1.75
#para escrever numeros com virgula usar o ponto , nao a virgula

print(nome, idade, altura )

Hosana 17 1.75

In [ ]:
nome = input('digite seu nome: ')
idade = input('digite sua idade: ')
altura = float(input('digite sua altura: '))
#float transforma em decimal

print(nome, idade, altura)

digite seu nome: Hosana
digite sua idade: 17
digite sua altura: 1.75
Hosana 17 1.75

In [ ]:
a = 10
b = 5

soma = a + b
subtrção = a - b
mutiplicação = a * b
divisão = a / b
restoDivisão = a % b
potencia = 10 **5

print(soma, subtrção, mutiplicação, divisão, restoDivisão, potencia
      )

15 5 50 2.0 0 100000

In [ ]:
idade = 17
if idade >= 18:
   print('acesso liberado')
else:
   print('acesso negado')
   #if executa se a condicao for verdadeira
   #else executa se a condicao for falsa

acesso negado

In [ ]:
#for percorre uma sequencia de elementos, tanto listas int floats e strings
for i in range(1 , 11): #vai de'1' a '10'
    print(i)
    #range cria uma sequencia de numeros

    frutas = ['banana', 'maca', 'laranja', 'uva']

for fruta in frutas:
    print('eu gosto de', fruta)

1
2
3
4
5
6
7
8
9
10
eu gosto de banana
eu gosto de maca
eu gosto de laranja
eu gosto de uva

In [ ]:
#while executa enquanto a condicao for verdadeira
i = 1
while i <= 10:
    print(i)
    i += 1 #   i += 1 significa i = i + 1

print('fim do loop')

1
2
3
4
5
6
7
8
9
10
fim do loop

exercicio envolvendo if else, loops op matematicas e listas

In [ ]:
#criar um algoritmo que leia 5 notas de alunos e mostre se esta aprovado, recuperacao ou reprovado e a media da turma

notasAlunos =[
   float(input('digite a nota do aluno 1: ')),
   float(input('digite a nota do aluno 2: ')),
   float(input('digite a nota do aluno 3: ')),
   float(input('digite a nota do aluno 4: ')),
   float(input('digite a nota do aluno 5: ')),
]
print(notasAlunos)

digite a nota do aluno 1: 8
digite a nota do aluno 2: 3
digite a nota do aluno 3: 4
digite a nota do aluno 4: 2
digite a nota do aluno 5: 9
[8.0, 3.0, 4.0, 2.0, 9.0]

In [ ]:
for nota in notasAlunos:
  if nota >= 7:
    print (f'nota {nota} aprovado') #f depois do print é um f-string que permite escrever variaveis dentro de uma string sem usar o +
  elif nota >= 5 and nota <7:
     print (f'nota {nota} recuperacao')
  else:
     print (f'nota {nota} reprovado')

nota 8.0 aprovado
nota 3.0 reprovado
nota 4.0 reprovado
nota 2.0 reprovado
nota 9.0 aprovado

In [ ]:
media = sum(notasAlunos) / len(notasAlunos)   #sum soma todos os elementos da lista e len conta quantos elementos tem na lista

print(f'a media da turma é {media}')

a media da turma é 5.2